body {
  margin: 0;
  color: #000;
  font-family: "Raleway";
  font-size: 10px;
}
body a {
  color: #000;
}

header {
  background-color: #fff;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
header ul {
  list-style-type: none;
  padding: 0;
}
header ul li {
  display: inline-block;
}
header ul li a {
  color: #000;
  font-family: "Raleway";
  text-decoration: none;
  padding: 10px;
  font-size: 1.6em;
}

section {
  background-color: #fff;
}

section#landing {
  height: 100vh;
  background-color: transparent;
}
section#landing .cta {
  text-align: center;
  position: relative;
  top: 50%;
  font-size: 1.3em;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
section#landing .cta h2 {
  margin: 0;
  font-family: "Raleway";
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 72px;
  line-height: 92px;
  font-weight: 700;
}
section#landing .cta p.subheading {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.05rem;
  font-style: italic;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 0 0 0, rgba(0, 0, 0, 0.5) -10px 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline;
  padding: 4px 0;
  line-height: 1.85rem;
}
section#landing .cta .cta {
  display: block;
  padding: 15px;
  margin-top: 40px;
}
section#landing .cta .cta a {
  padding: 10px 50px;
  background-color: rgba(247,161,79,1);
  color: #fff;
  text-decoration: none;
}
section#landing video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("polina.jpg") no-repeat;
  background-size: cover;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

section#banner1 {
	padding: 40px;
	text-align: center;
}

section#banner1 h1{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 46px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444;
	letter-spacing: 3px;
	margin: 0;
}

section#banner1 p{
	font-family: Lato;
	font-size: 2.3em;
	line-height: 44px;
	font-weight: 400;
	font-style: italic;
	color: #444;
	max-width: 60%;
	margin: 0 auto;
}

section#banner1 hr {
	border: 0;
	display: inline-block;
	margin: 25px auto;
	width: 20%;
	border-bottom: 1px solid #ddd;
}

section#banner1 .cta {
	margin-top: 25px;
	text-align: center;
}

section#banner1 .cta a {
	margin-top: 10px;
    padding: 10px 50px;
    background-color: rgba(247,161,79,1);
    color: #fff;
    text-decoration: none;
	font-size: 16px;
}

section#school-info {
	padding-top: 40px;
	text-align: center;
}

section#school-info h2{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 46px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444;
	letter-spacing: 3px;
	margin: 0;
}

section#school-info .image-grid {
	max-width: 1050px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


section#school-info .image-grid .image .overlay {
	margin-top: 112.6565px;
	display: inline-block;
	font-size: 16px;
}

section#school-info .image-grid .image {
	width: 350px;
	height: 225.313px;
	background-image: url('/MajorProject2016/assets/image1.jpg');
	background-size: cover;
	background-position: center;
}

section#apprenticeship-section {
	padding: 40px;
	text-align: center;
}

section#apprenticeship-section h2 {
	text-transform: uppercase;
    font-weight: 900;
    font-size: 46px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
    letter-spacing: 3px;
    margin: 0;
}

section#apprenticeship-section .inner {
	max-width: 70%;
	font-size: 16px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section#apprenticeship-section .inner .column {
	width: 300px;
}

section#apprenticeship-section .inner .column .title {
	cursor: pointer;
	color: #444;
}

section#apprenticeship-section .inner .column .dropdown {
	display: none;
}

section#short-course-section {
	padding: 40px;
	text-align: center;
}

section#short-course-section h2 {
	text-transform: uppercase;
    font-weight: 900;
    font-size: 46px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
    letter-spacing: 3px;
    margin: 0;
}


section#contact-section {
	padding: 40px;
	text-align: center;
}

section#contact-section h3{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 46px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444;
	letter-spacing: 3px;
	margin: 0;
}

section#contact-section .contact-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

section#contact-section .contact {
	display: inline-flex;
	justify-content: center;
	width: calc( 50% - 80px);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.1em;
	color: #444;
}
section#contact-section #map {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
	max-width: 90%;
	margin: 0 auto;
}
section#contact-section #map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

section#accomodation-section {
	padding: 40px;
	text-align: center;
}

section#short-course-section h2 {
	text-transform: uppercase;
    font-weight: 900;
    font-size: 46px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
    letter-spacing: 3px;
    margin: 0;
}

section#accomodation-section .grid {
	max-width: 600px;
	margin: 0 auto;
}

section#accomodation-section .grid .gallery {
	width: 100%;
	background-color: #444;
	height: 600px;
	background-image: url('assets/gallery.jpg')
}


@media (min-width: 1280px) {
	section#contact-section #map {
		max-width: 60%;
		padding-bottom: 43%;
	}
}

@media (max-width: 800px) {
	section#contact-section .contact {
		width: 100%;
	}
}

@media (max-width: 700px) {

}

@media (max-width: 600px) {
	section#banner1 p{
		max-width: 100%;
	}
}
/*# sourceMappingURL=style.css.map */
